.body {
    background: #361a7c;
    padding-top: 1%;
    padding-bottom: 2.4%;
}

.form {
    padding: 3% 6%;
}

.content {
    width: 70%;
    line-height: 33px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-top: 0px;
}

.formfield {
    background: #fff;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 6px;
    h1 {
        font-size: 24px;
        font-weight: 400;
        font-family: inherit;
        color: #361a7c;
        };
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-top: 52px;
    margin-bottom: 22px;
    img {
        width: 100%
    }
}

.form {
.MuiButton-containedSecondary-66 {
    color: #fff;
    background-color: #361a7c !important;
    margin: 0 !important;
    width: 90% !important;
    border: 0 !important;
    margin-top: 11px !important;
    display: inline-flex !important;
    padding: 0 !important;
    position: relative !important;
    min-width: 0 !important;
    flex-direction: column !important;
    vertical-align: top !important;
} 
}

   .MuiButton-contained-88, .MuiButton-contained-88:hover, .MuiButton-containedPrimary-65,
   .MuiButton-contained-64:hover, .MuiButton-contained-64 {
    color: #fff !important;
    background-color: #361a7c !important;
    padding: 14px !important;
    margin-top: 12px !important;
}

.MuiOutlinedInput-adornedEnd-190, .MuiOutlinedInput-adornedEnd-318, .MuiOutlinedInput-adornedEnd-27, .MuiOutlinedInput-adornedEnd-446,
.MuiOutlinedInput-adornedEnd-574, .MuiInputBase-root-711.MuiOutlinedInput-root-698.MuiInputBase-fullWidth-720.MuiInputBase-formControl-712.MuiInputBase-adornedEnd-716.MuiOutlinedInput-adornedEnd-702,
.MuiOutlinedInput-adornedEnd-830,.MuiOutlinedInput-adornedEnd-958,.MuiOutlinedInput-adornedEnd-1086, .MuiOutlinedInput-inputAdornedEnd-1222
 {
    padding-right: 0 !important;
}

.MuiIconButton-root-44 {
    flex: 0 0 auto;
    color: #361a7c !important;
    margin-left: 14px !important;
    padding: 12px;
    overflow: visible;
    font-size: 18px !important;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}